global-bin-dir = D:\pnpm\pnpm-store\global-bin-dir

# registry: 阿里云镜像源配置
# registry = https://registry.npmmirror.com

# recursive-install: true|false -影响是否会在workspace中，指令是否会安装项目中的所有依赖
# recursive-install = false  # 默认为true，会安装所有依赖

# git-branch-lockfile Git分支锁文件配置
git-branch-lockfile = true # 默认为false

# .npmrc 中指定锁文件匹配模式
lockfile = pnpm-lock.*.yaml

# 自动安装对等依赖 (peerDependencies) 安装Eslint需要此配置开启
auto-install-peers = true

# 依赖提升根目录的 node_modules 中，形成扁平化结构，安装Eslint需要此配置开启
# node-linker = hoisted

# 开启时，pnpm 将使用 类 bash shell 的 JavaScript 实现来 执行脚本
shell-emulator = true
