$primary-color: #a72621;
$icon-color: #a72621;
$phone-background: #a72621;
$background-color-bg: #feeeee;
$card-header-bg: #a72621;
$BOM-top-color: #a72621;
$BOM-left-color: #fbf7f6;
$BOM-top-font-color: #ffffff;